In [82]:
import numpy as np

In [83]:
#print
def print_A(A_11, A_12, A_21, A_22):
  print("A_11: ", A_11)
  print("--------------------")
  print("A_12: ", A_12)
  print("--------------------")
  print("A_21: ", A_21)
  print("--------------------")
  print("A_22: ")
  print(np.array2string(A_22, separator=', '))
  print("--------------------")

In [84]:
def choleskyFactorization(A):
  n = A.shape[0]
  L = np.zeros((n,n))
  A_11 = A[0][0]
  if A_11 < 0:
    print("Cholesky Factorization is not possible! The given matrix is not positive definite!")
  L_11 = np.sqrt(A_11)
  if n == 1:
    return L_11
  A_12 = A[0,1:]
  A_21 = A[1:,0]
  A_22 = A[1:,1:]
  print_A(A_11,A_12,A_21,A_22)
  L_21 = 1/L_11*(np.transpose(A_12))
  # print("L_11: ", L_11)
  # print("L_21: ", L_21)
  L_22 = L[1:,1:]
  B = A_22-L_21*np.transpose(L_21)
  # print("B: ", B)
  if B.shape[0] > 1:
    L_22 = choleskyFactorization(B)
  else:
    L_22 = np.sqrt(B)
  L[0][0] = L_11
  L[1:,0] = L_21
  L[1:,1:] = L_22
  print("L: ")
  print(np.array2string(L, separator=', '))
  print("--------------------")
  return L

In [85]:
A = np.array([[9, 3, 3],
              [3, 17, 21],
              [3, 21, 107]])
choleskyFactorization(A)

A_11:  9
--------------------
A_12:  [3 3]
--------------------
A_21:  [3 3]
--------------------
A_22:
[[ 17,  21],
 [ 21, 107]]
--------------------
A_11:  16.0
--------------------
A_12:  [20.]
--------------------
A_21:  [20.]
--------------------
A_22:
[[106.]]
--------------------
L:
[[4., 0.],
 [5., 9.]]
--------------------
L:
[[3., 0., 0.],
 [1., 4., 0.],
 [1., 5., 9.]]
--------------------

array([[3., 0., 0.],
       [1., 4., 0.],
       [1., 5., 9.]])

In [92]:
def solveEquation(A, b):
  n = A.shape[0]
  # A = LL^T
  L = choleskyFactorization(A)
  #Lu=b
  u = np.zeros(n)
  #forward substitution
  for i in range(n):
    u[i] = b[i]
    for j in range(i):
      u[i] -= L[i][j]*u[j]
    u[i] = u[i]/L[i][i]
  print("u = ", u)
  print("--------------------")
  # L^Tx = u
  L_T = np.transpose(L)
  x = np.zeros(n)
  # backward substitution
  for i in range(n-1,-1,-1):
    x[i] = u[i]
    for j in range(n-1,i,-1):
      x[i] -= L_T[i][j]*x[j]
    x[i] = x[i]/L_T[i][i]
  return x

In [93]:
A = np.array([[1, 1, 1],
                [1, 1.001, 1.001],
                [1, 1.001, 2]])
b = np.array([3, 3.0030, 4.0010])
print("x = ", solveEquation(A,b))

A_11:  1.0
--------------------
A_12:  [1. 1.]
--------------------
A_21:  [1. 1.]
--------------------
A_22:
[[1.001, 1.001],
 [1.001, 2.   ]]
--------------------
A_11:  0.0009999999999998899
--------------------
A_12:  [0.001]
--------------------
A_21:  [0.001]
--------------------
A_22:
[[1.]]
--------------------
L:
[[0.03162278, 0.        ],
 [0.03162278, 0.99949987]]
--------------------
L:
[[1.        , 0.        , 0.        ],
 [1.        , 0.03162278, 0.        ],
 [1.        , 0.03162278, 0.99949987]]
--------------------
u =  [3.         0.09486833 0.99849937]
--------------------
x =  [-4.44533299e-13  2.00100100e+00  9.98998999e-01]

In [94]:
def MSE(H) -> int:
  # an MSE error calculator for the result and  numpy.linalg.cholesky result.
  L_np = np.linalg.cholesky(H)
  L = choleskyFactorization(H)
  n = L.shape[0]
  squared_err = 0
  for i in range(n):
    for j in range(i):
      squared_err += (L[i][j] - L_np[i][j])**2
  number_of_nonzero_elements = n*(n+1)/2
  mse = squared_err/number_of_nonzero_elements
  return mse

In [95]:
print("MSE = ", MSE(A))

A_11:  1.0
--------------------
A_12:  [1. 1.]
--------------------
A_21:  [1. 1.]
--------------------
A_22:
[[1.001, 1.001],
 [1.001, 2.   ]]
--------------------
A_11:  0.0009999999999998899
--------------------
A_12:  [0.001]
--------------------
A_21:  [0.001]
--------------------
A_22:
[[1.]]
--------------------
L:
[[0.03162278, 0.        ],
 [0.03162278, 0.99949987]]
--------------------
L:
[[1.        , 0.        , 0.        ],
 [1.        , 0.03162278, 0.        ],
 [1.        , 0.03162278, 0.99949987]]
--------------------
MSE =  0.0